.color label 
{
	color: white;
}
.color {
	color: white;
}
/*text input*/

.color input[type = text] {
	width : 250px;
	padding : 10px 20px;
	margin : 8px 0;
	display : inline-block;
	border :1px solid #16546b;
	border-radius : 4px;
	box-sizing : border-box;
	font-family: verdana;
}
/*submit button*/

.color input[type = submit] {

	width : 140px;
	background-color : #16546b;
	color : white ;
	padding : 12px 20px;
	margin : 8px 0;
	margin-left: 10px; 
	border : none;
	border-radius : 4px;
	curser : pointer;
}
/*div input*/

.color {
	background: url(6.jpg);
	/*background-color : #C0C0C0;*/ 
	width : 280px;
	padding: 22px 40px;
	margin : 16px 0;
	border :1px solid black;
	border-radius : 4px;
float: right;
	/* */
}
/*cancel button*/
.cancelbtn {
    padding: 12px 20px;
    background-color: white;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}